{% extends 'plantillaPrincipal.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/dataTables.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <center>
                <h3>
                    <b>Técnicos Registrados</b>
                    &nbsp;
                    <a href="/tecnicos/nuevo/" class="btn btn-success">
                        <i class="ti-plus"></i> Agregar Nuevo
                    </a>
                </h3>
                <hr>
            </center>
            <br>

            <div class="table-responsive">
                <table id="tbl_tecnicos" class="table table-striped table-bordered">
                    <thead style="background:#4255A4; color:#fff;">
                        <tr>
                            <th>ID</th>
                            <th>CÉDULA</th>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>ESPECIALIDAD</th>
                            <th>CORREO</th>
                            <th>TELÉFONO</th>
                            <th>ESTADO</th>
                            <th>FOTO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in tecnicos %}
                        <tr>
                            <td>{{ t.id }}</td>
                            <td>{{ t.cedula }}</td>
                            <td>{{ t.nombres }}</td>
                            <td>{{ t.apellidos }}</td>
                            <td>{{ t.especialidad }}</td>
                            <td>{{ t.correo }}</td>
                            <td>{{ t.telefono }}</td>
                            <td>
                                {% if t.estado == 'Activo' %}
                                    <span class="badge badge-success">Activo</span>
                                {% else %}
                                    <span class="badge badge-secondary">Inactivo</span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if t.foto %}
                                    <a href="{{ t.foto.url }}" target="_blank">
                                        <img src="{{ t.foto.url }}"
                                             style="height:40px; width:40px; border-radius:100px;">
                                    </a>
                                {% else %}
                                    <b>N/A</b>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/tecnicos/editar/{{ t.id }}/"
                                   class="btn btn-outline-warning" title="Editar Técnico">
                                    <i class="ti-pencil"></i>
                                </a>
                                <a href="/tecnicos/eliminar/{{ t.id }}/"
                                   class="btn btn-outline-danger" title="Eliminar Técnico"
                                   onclick="confirmarEliminacion(event, this.href)">
                                    <i class="ti-trash"></i>
                                </a>
                                {% if t.foto %}
                                    <a href="{{ t.foto.url }}" target="_blank"
                                       class="btn btn-outline-info" title="Ver Imagen">
                                        <i class="ti-image"></i>
                                    </a>
                                    <a href="{{ t.foto.url }}" download
                                       class="btn btn-outline-dark" title="Descargar Imagen">
                                        <i class="ti-download"></i>
                                    </a>
                                {% else %}
                                    <a href="javascript:void(0)"
                                       class="btn btn-outline-info disabled" title="No hay imagen">
                                        <i class="ti-image"></i>
                                    </a>
                                    <a href="javascript:void(0)"
                                       class="btn btn-outline-dark disabled" title="No hay imagen">
                                        <i class="ti-download"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/js/dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/js/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/buttons.print.min.js' %}"></script>
<script>
new DataTable('#tbl_tecnicos', {
    layout: {
        topStart: {
            buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5']
        }
    },
    language: {
        search: 'Buscar:',
        lengthMenu: 'Mostrar _MENU_ registros',
        info: 'Mostrando _START_ a _END_ de _TOTAL_ técnicos',
        infoEmpty: 'Sin registros',
        zeroRecords: 'No se encontraron resultados',
        paginate: { first:'Primero', last:'Último', next:'Siguiente', previous:'Anterior' }
    }
});
</script>
{% endblock %}
