{% extends 'plantillaPrincipal.html' %}
{% load static %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br>
            <h1><b>Actualizar Mi Perfil</b></h1>
            <hr>

            <form enctype="multipart/form-data" id="form_editar_perfil"
                  action="/perfil/" method="post">
                {% csrf_token %}

                <b>Cédula:</b> <br>
                <input placeholder="10 dígitos" class="form-control"
                       type="text" name="cedula" maxlength="10"
                       value="{{ tecnico.cedula }}">
                <br>

                <b>Nombres:</b> <br>
                <input placeholder="Ingrese sus nombres" class="form-control"
                       type="text" name="nombres"
                       value="{{ tecnico.nombres }}">
                <br>

                <b>Apellidos:</b> <br>
                <input placeholder="Ingrese sus apellidos" class="form-control"
                       type="text" name="apellidos"
                       value="{{ tecnico.apellidos }}">
                <br>

                <b>Correo electrónico:</b> <br>
                <input placeholder="correo@ejemplo.com" class="form-control"
                       type="email" name="correo"
                       value="{{ tecnico.correo }}">
                <br>

                <b>Teléfono:</b> <br>
                <input placeholder="10 dígitos" class="form-control"
                       type="text" name="telefono" maxlength="10"
                       value="{{ tecnico.telefono }}">
                <br>

                <b>Especialidad:</b> <br>
                <select class="form-control" name="especialidad">
                    <option value="">Seleccione...</option>
                    {% for val, label in especialidades %}
                        <option value="{{ val }}"
                            {% if tecnico.especialidad == val %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
                <br>

                <b>Institución:</b> <br>
                <input placeholder="Nombre de la institución" class="form-control"
                       type="text" name="institucion"
                       value="{{ tecnico.institucion }}">
                <br>

                <b>Ciudad:</b> <br>
                <input placeholder="Ciudad" class="form-control"
                       type="text" name="ciudad"
                       value="{{ tecnico.ciudad }}">
                <br>

                <b>Fecha de ingreso:</b> <br>
                <input class="form-control" type="date"
                       name="fecha_ingreso"
                       value="{{ tecnico.fecha_ingreso }}">
                <br>

                <b>Fotografía:</b><br>
                <input type="file" name="foto" id="foto" class="form-control"
                       accept=".jpg,.jpeg,.png"
                       {% if tecnico.foto %}
                       data-initial-preview="<img src='{{ tecnico.foto.url }}' class='file-preview-image'>"
                       data-initial-preview-config='[{"caption": "foto_perfil", "showDelete": false}]'
                       {% endif %}>
                {% if tecnico.foto %}
                    <small class="text-muted">
                        Foto actual:
                        <a href="{{ tecnico.foto.url }}" target="_blank">
                            <img src="{{ tecnico.foto.url }}"
                                 style="height:35px; width:35px; border-radius:50%; margin-left:5px; vertical-align:middle;">
                            ver imagen
                        </a>
                    </small>
                {% endif %}
                <br><br>

                <button class="btn btn-success" type="submit">
                    <i class="ti-save mr-1"></i> Actualizar
                </button>
                <a href="/dashboard/" class="btn btn-secondary">
                    <i class="ti-close mr-1"></i> Cancelar
                </a>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function () {

    jQuery.validator.addMethod("soloCedula", function (value, element) {
        return this.optional(element) || /^\d{10}$/.test(value);
    }, "La cédula debe tener exactamente 10 dígitos numéricos");

    jQuery.validator.addMethod("soloTelefono", function (value, element) {
        return this.optional(element) || /^\d{10}$/.test(value);
    }, "El teléfono debe tener exactamente 10 dígitos");

    $("#form_editar_perfil").validate({
        errorElement: "span",
        errorClass: "text-danger small",
        highlight: function (element) {
            $(element).addClass("is-invalid").removeClass("is-valid");
        },
        unhighlight: function (element) {
            $(element).removeClass("is-invalid");
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        },
        rules: {
            cedula:       { required: true, soloCedula: true },
            nombres:      { required: true, minlength: 2 },
            apellidos:    { required: true, minlength: 2 },
            correo:       { required: true, email: true },
            telefono:     { required: true, soloTelefono: true },
            especialidad: { required: true },
            institucion:  { required: true, minlength: 3, maxlength: 150 },
            ciudad:       { required: true, minlength: 2, maxlength: 100 },
            fecha_ingreso:{ required: true }
        },
        messages: {
            cedula:       { required: "Por favor, ingrese la cédula" },
            nombres:      { required: "Por favor, ingrese sus nombres" },
            apellidos:    { required: "Por favor, ingrese sus apellidos" },
            correo:       { required: "Por favor, ingrese el correo", email: "Ingrese un correo válido" },
            telefono:     { required: "Por favor, ingrese el teléfono" },
            especialidad: { required: "Por favor, seleccione la especialidad" },
            institucion:  { required: "Por favor, ingrese la institución" },
            ciudad:       { required: "Por favor, ingrese la ciudad" },
            fecha_ingreso:{ required: "Por favor, seleccione la fecha de ingreso" }
        }
    });
});
</script>
{% endblock %}
